{
	# acme_dns cloudflare sử dụng token từ biến môi trường CLOUDFLARE_API_TOKEN
	
	# Cấu hình sử dụng Cloudflare DNS cho ACME challenge
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	
	# Cổng Admin API (UI sẽ giao tiếp qua cổng này)
	admin {$CADDY_ADMIN:127.0.0.1:2019}
}
